body {
    background-image: url("https://data.whicdn.com/images/289934352/large.jpg");
    font-family: Lato, sans-serif;
    color: #4e4e4e;
}

main {
    padding: 3rem;
    border-radius: 25px;
    background: rgba(250,250,250);
}

h1{
    font-size: 3.3rem;
    margin-top: 0;
}
#horoscopeCalc {
    font-family: 'Lato', sans-serif;
    text-align: center;
}
footer {
    font-family: 'Lato', sans-serif;
    text-align: center;
    bottom: 0;
}
select{
  background-color: white;
  font-family: 'Lato', sans-serif;
}
.starsign-fieldset {
    display: flex;
    
}

.starsign-input-row {
    display: flex;
}

.results-section {
    display: flex;
    flex-direction: column;
}

.results-img {
    max-width: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
}

.flex-grow {
    flex-grow: 1;
}

.input-row-item {
    max-width: 50%;
}

#starsignpara {
text-align: center;
font-weight: bold;

}

@media screen and (min-width:40rem) {
    main {
        max-width: 40rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto; 
    }
}

@media screen and (max-width:420px) {
    .starsign-input-row {
        flex-direction: column;
    }

    .input-row-item {
        max-width: 100%;
    }
}